<script src="https://www.panoramio.com/wapi/wapi.js?v=1"></script>

<% var allTypes = ["bank", "post_office", "meal_delivery", "bus_station", "gas_station", "school", "hospital", "police", "library", "bar", "cafe", "church", "pet_store", "gym", "movie_theater", "park", "grocery_or_supermarket", "convenience_store"]; %>

<div class="header">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
			<div class="logo"></div>
			<div class="auth">
				<a>SIGN UP </a> | <a> LOG IN</a>
			</div>
		</div>
	</div>
</div>

<div>
	<div class="row well">
		<div class="col-xs-12 col-sm-12 col-md-11 col-lg-10 col-md-offset-1 col-lg-offset-2">
			<div class="area-pics" id="origin"></div>
			<div class="container data-column">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h2><%= home.origin %></h2>
					</div>
				</div>

				<div class="row">
						<% allTypes.forEach(function(key, index){ %>
						<% if(hits[key] === 0){allTypes.splice(index, 1); index--;} else { %>
							<% if ((index) % 10 === 0) { %>
								</div><div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 data-column-small">
							<% } %>
							<li class="stats"><%= key.replace(/_/g, ' ') %>: <%= hits[key] %></li>
						<%}});%>
				</div>
			</div>
		</div>	
	</div>
</div>

<script>
	var lati = <%= home.lati %>; //arg
	var long = <%= home.long %>
	var rectMod = 0.005;

	var myRequest = {
	  'rect': {'sw': {'lat': (lati - rectMod), 'lng': (long * 1 - rectMod)},
	  'ne': {'lat': (lati + rectMod), 'lng': (long * 1 + rectMod)}}
	};

	var myOptions = {
	  'width': 400,
	  'height': 216,
	  'croppedPhotos': false
	};

	var widget = new panoramio.PhotoWidget('origin', myRequest, myOptions);
	widget.setPosition(0);
</script>

<% results.forEach(function(result) { %>
	<div>
		<div class="row well">
			<div class="col-xs-12 col-sm-12 col-md-11 col-lg-10 col-md-offset-1 col-lg-offset-2">
				<div class="area-pics" id="area-pics-<%= result.neighborhood.zillowRegionID %>"></div>
				<div class="container data-column">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<a href="/results/<%=  %>/<%= result.neighborhood.zillowRegionID %>">
								<h2><%= result.neighborhood.name %></h2>
							</a>
						</div>
					</div>

					<div class="row">
						<% allTypes.forEach(function(key, index){ %>
							<% if (index % 6 === 0) { %>
								</div><div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 data-column-small">
								<% }; if (index > 10) {} else {%>
								<li class="stats"><%= key.replace(/_/g, ' ') %>: <%= result.neighborhood.data[key] %></li>
							<% } %>
						<%});%>	
					</div>
				</div>
			</div>	
		</div>
	</div>

	<script>
		var lati = <%= result.neighborhood.lati %>; //arg
		var long = <%= result.neighborhood.long %>
		var rectMod = 0.005;

		var myRequest = {
		  'rect': {'sw': {'lat': (lati - rectMod), 'lng': (long * 1 - rectMod)},
		  'ne': {'lat': (lati + rectMod), 'lng': (long * 1 + rectMod)}}
		};

		var myOptions = {
		  'width': 270,
		  'height': 162,
		  'croppedPhotos': false
		};

		var widget = new panoramio.PhotoWidget("area-pics-<%= result.neighborhood.zillowRegionID %>", myRequest, myOptions);
		widget.setPosition(0);
	</script>
<% }); %>
